%link{href: "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css", rel: "stylesheet"}
%div.container
  %div.row
    %div.twelve.columns
      %h1 Track all the Twitch!
  %div.row
    %div.three.columns
      %label{for: 'user-add'} Enter a username to follow
      %form
        %input#user-add{type: "text"}
        %input.button-primary{type: "submit", value: "Track 'em"}
    %div.nine.columns
      %div.row
        %div.three.columns user
        %div.one.columns status
        %div.eight.columns other info
      %div.row#users
%script{src: "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"}
